---
const { src, alt, title, text } = Astro.props

interface Props {
    src: string;
    alt: string;
    title: string;
    text: string;
    class?: string;
}

---

<article class=`${ Astro.props.class } fade-scroll rounded relative overflow-hidden`>
    <img class="absolute w-full h-full object-cover object-center z-0" src={ src } alt={ alt }>
    <div class="absolute h-full w-full z-10 bg-[var(--overlay)]"></div>
    <div class="absolute w-full h-full p-8 z-20 flex flex-col justify-center gap-3 text-center md:text-left md:items-start m-auto md:m-0">
        <h2 class="text-xl text-[var(--text-strong)] font-medium">{ title }</h2>
        <p class="text-base text-[var(--text-strong)] font-normal">{ text }</p>
        <slot />
    </div>
</article>