---
const { href, src, alt } = Astro.props

interface Props {
    href: string;
    src: string;
    alt: string;
}
---

<a class="h-12 block" href={ href } target="_blank">
    <img class="h-full w-auto min-w-[max-content] mx-8 lg:mx-16" src={ src } alt={ alt }>
</a>