---
import Layout from '../layouts/Layout.astro';
import NavStore from '../components/NavStore.astro'
import HeroStore from '../components/HeroStore.astro'
import CarouselStore from '../components/CarouselStore.astro'
import BentoStore from '../components/BentoStore.astro'
import MonthProductStore from '../components/MonthProductStore.astro'
import FooterStore from '../components/FooterStore.astro'
---

<Layout 
title="Sport Store"
description="The best Sport Store to shop all the things you need.">
	<NavStore />
	<main>
		<HeroStore />
		<CarouselStore />
		<BentoStore />
		<MonthProductStore />
		<FooterStore />
	</main>
</Layout>

<style>
	
</style>
