

<nav class="w-full h-24 bg-zinc-900 fixed top-0 py-6 lg:py-8">
    <div class="w-[90%] mx-auto max-w-5xl h-full flex justify-between">
        <img class="z-40" src="/icons/icon.svg" alt="logo-sport-store">
        <div class="absolute h-screen w-full grid gap-8 text-center text-2xl z-30 inset-0 bg-zinc-900 text-current overflow-hidden items-center">
            <ul class="flex flex-col gap-4">
                <a href="">MAN</a>
                <a href="">WOMAN</a>
                <a href="">KIDS</a>
                <a href="">COLLECTIONS</a>
                <a href="">CONTACT</a>
            </ul>
            <div class="flex flex-col gap-4">
                <a id="btn-search" href="#">
                    SEARCH
                </a>
                <a class="flex w-full items-center justify-center gap-2" href="#">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                    MY CART <p id="itemsCart">(0)</p>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-1 grid-rows-1 h-full z-40">
            <svg id="open" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-align-box-center-middle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M11 15h2" /><path d="M9 12h6" /><path d="M10 9h4" /></svg>
            <svg id="close" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-square-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /><path d="M9 9l6 6m0 -6l-6 6" /></svg>
        </div>
    </div>
</nav>

<style>
    svg {
        height: 100%;
        width: auto;
        grid-column: 1/2;
        grid-row: 1/2;
        transform: scale(1);
        transition: transform 300ms ease-out;
        cursor: pointer;
    }
    #close {
        transform: scale(0);
    }
</style>