---
import "@fontsource-variable/onest"

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/temp-logo.svg" />
		<title>{ title }</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
		font-family: "Onest Variable", system-ui, -apple-system, sans-serif;
		--text-reg: rgba(255, 255, 255, 0.9);
		--text-strong: white;
		--bg: rgb(51, 51, 51);
		--overlay: rgb(51, 51, 51, 0.5);
		--overlay-btn: rgb(51, 51, 51, 0.1);
	}
	@font-face {
		font-family: 'vanilla';
		src: url('/fonts/vanillapersonal.ttf') format('truetype');
		}
		.vanilla-font {
			font-family: 'vanilla';
		}
	body {
		scroll-behavior: smooth;
		background-color: var(--bg);
		color: var(--text-reg);
		transition: background-color color 500ms;
	}

	h1, h2, h3 {
		text-wrap: balance;
	}
	p {
		text-wrap: pretty;
		color: var(--text-reg);
		line-height: 1.4;
		font-weight: 100;
		font-size: 1em;
		letter-spacing: .5px;
	}
	p strong {
		color: var(--text-strong);
		font-weight: 700;
	}
	@media (prefers-color-scheme: light) {
		:root {
			--text-reg: rgba(51, 51, 51);
			--text-strong: black;
			--bg: rgb(251, 251, 251);
			color: var(--text-reg);
			--overlay: rgb(251, 251, 251, 0.5);
			--overlay-btn: rgb(251, 251, 251, 0.1);
		}
	}
	.fade-scroll {
		animation: fade-scroll linear both;
		animation-timeline: view();
		animation-range: entry 30% cover 30%;
	}
	.first-load {
		animation: first-load ease-out 500ms;
	}
	@keyframes fade-scroll {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes first-load {
		from {
			opacity: 0;
			transform: translateY(3rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
